<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CreateProfile</servlet-name>
        <servlet-class>servlets.CreateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePage</servlet-name>
        <servlet-class>servlets.CreatePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>servlets.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>servlets.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFriendshipServlet</servlet-name>
        <servlet-class>servlets.CreateFriendshipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendsServlet</servlet-name>
        <servlet-class>servlets.FriendsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikedServlet</servlet-name>
        <servlet-class>servlets.LikedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendsLikedServlet</servlet-name>
        <servlet-class>servlets.FriendsLikedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendsFriendsServlet</servlet-name>
        <servlet-class>servlets.FriendsFriendsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>servlets.PageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>servlets.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStatusServlet</servlet-name>
        <servlet-class>servlets.CreateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoServlet</servlet-name>
        <servlet-class>servlets.EditInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendRequestsServlet</servlet-name>
        <servlet-class>servlets.FriendRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFriendshipServlet</servlet-name>
        <servlet-class>servlets.RemoveFriendshipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WallServlet</servlet-name>
        <servlet-class>servlets.WallServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProfile</servlet-name>
        <url-pattern>/CreateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePage</servlet-name>
        <url-pattern>/CreatePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFriendshipServlet</servlet-name>
        <url-pattern>/CreateFriendship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendsServlet</servlet-name>
        <url-pattern>/Friends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikedServlet</servlet-name>
        <url-pattern>/Liked</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendsLikedServlet</servlet-name>
        <url-pattern>/FriendsLiked</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendsFriendsServlet</servlet-name>
        <url-pattern>/FriendsFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStatusServlet</servlet-name>
        <url-pattern>/CreateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoServlet</servlet-name>
        <url-pattern>/EditInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendRequestsServlet</servlet-name>
        <url-pattern>/FriendRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFriendshipServlet</servlet-name>
        <url-pattern>/RemoveFriendship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WallServlet</servlet-name>
        <url-pattern>/Wall</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
